{% extends 'template.html' %}


{% block contenido %}
    

    

    {% block perfil %}
<section class="formulario">
<div class="div_formulario">
    <h1>Editar perfil</h1>
    <form action="{% url 'editar_perfil' %}" method="POST" enctype="multipart/form-data"> 
        {% csrf_token %}
    {{form.as_ul}}
<button type="submit">EDITAR </button>
<a href="{% url 'cambiar_contrasena' %}">Cambiar contraseña</a>
    </form>
</div> 
</section>
{% endblock perfil %}

{% endblock contenido %}

