{% extends 'template.html' %}

    <!-- <section class="formulario">
<div class="div_formulario">
<h1>Iniciar sesión</h1>
<form>

    <label for="email"></label>
    <input class="inf" type="email" id="email" name="email" placeholder="Email">

    <label for="contrasena"></label>
    <input class="inf" type="password" id="contrasena" name="contrasena" placeholder="Contraseña">


    <button type="submit">CONÉCTATE</button>
    <a href= "{% url 'registro' %}">Crear una cuenta nueva</a>
</form> -->

<!-- 
{% block lista %}

{% for cliente in lista_clientes  %}
<li>{{cliente.nombre}} {{cliente.apellido}}</li>

{% endfor %}
<form action="">

<input type="text" name="nombre" placeholder="Buscar">
<input type="submit" name="buscar">
<!-- <button><span class="material-symbols-outlined">
    search
    </span></button> 

</form>

{% endblock lista %} -->


{% block contenido %}
    

    
{% block content%}
<section class="formulario">
<div class="div_formulario">
    <h1>Iniciar sesión</h1>
    <form action=" {% url 'loguin' %}"  method="POST"> 
        {% csrf_token %}
{{form.as_ul}}
<button type="submit">CONÉCTATE</button>
<a href= "{% url 'registro' %}">Crear una cuenta nueva</a>
    </form>
</div> 
</section>
{% endblock %}

    

{% endblock contenido %}
