{% extends 'template.html' %}


{% block contenido %}
    

    
    {% block perfil %}                    
    <section class="mi_perfil">
       <div class="container_perfil">
        <div class="titulo">
        <h1>Hola {{ user.first_name }}</h1>
        <a href="{% url 'cerrar_sesion' %}" title="Cerrar Sesion">CERRAR SESIÓN </a>
        </div>

<h2>Información personal</h2>
<hr class="hr">
           <p>Usuario: {{ user.username }}</p>
           <p>Nombre: {{ user.first_name }}</p>
           <p>Apellido: {{ user.last_name }} </p>
           <p>Email: {{ user.email }}</p>  
           <hr>
           <h2>Direcciones</h2>
           <hr class="hr">
           <p>Direccion: {{ user.datosextra.direccion }}</p>
           <p>Ciudad: {{ user.datosextra.ciudad }}</p>
           <p>Pais: {{ user.datosextra.pais }}</p>
           <p>Telefono: {{ user.datosextra.telefono }}</p>
           <p>Avatar:
             <img src="{{ request.user.datosextra.avatar.url }}"  alt="avatar">
            </p>
            <hr>
       </div>

       <a href= "{% url 'editar_perfil' %}" class="button" title="Editar Perfil">EDITAR PERFIL</a>
    </section>
    {% endblock %}

    {% endblock contenido %}

