<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Assistant&family=Eczar&family=Martian+Mono:wght@100&family=Mulish:wght@300&family=Quicksand:wght@300&family=Roboto:wght@100&family=Satisfy&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Assistant&family=Eczar&family=Martian+Mono:wght@100&family=Montserrat:wght@200;400&family=Mulish:wght@300&family=Quicksand:wght@300&family=Roboto:wght@100&family=Satisfy&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css' %}">

    <title>By Neta</title>
</head>
<body>
    <header class="header_form">
        <nav class="nav">
            <ul>
                <li>Autobronceado</li>
                <li>Accesorios</li>
                <li class="logo"><img src="../../static/assets/imgs/byneta_logo_black_800x.avif" alt="logo"></li>
                <li>Brumas & Gloss</li>
                <li>Manual de uso</li>
            </ul>
        </nav>
    </header>
    <section class="formulario">
<div class="div_formulario">
<h1>Registrarse</h1>
<form>
    <label for="nombre"></label>
    <input class="inf" type="text" id="nombre" name="nombre" placeholder="Nombre">

    <label for="apellido"></label>
    <input class="inf" type="text" id="apellido" name="apellido" placeholder="Apellido">

    <label for="email"></label>
    <input class="inf" type="email" id="email" name="email" placeholder="Email">

    <label for="contrasena"></label>
    <input class="inf" type="password" id="contrasena" name="contrasena" placeholder="Contraseña">

    <label for="terminos">
        <input type="checkbox" id="terminos" name="terminos">
        He leído y acepto los términos de uso del sitio y la política de privacidad.
    </label>

    <label for="ofertas">
        <input  type="checkbox" id="ofertas" name="ofertas">
        Envíame una oferta especial a mi correo electrónico.
    </label>

    <button type="submit">ENVIAR</button>
    <a>¿Ya tienes una cuenta? Inicia sesión</a>
</form>

</div>

    </section>
    <footer class="footer">
        <div class="container_svg">
        <img src="../../static/assets/imgs/estrella.png" alt="">
        </div>
        <h5>ACCEDE A TU CUENTA PARA COMPRAR </h5>
        <p>¡Registrese ahora y empiece a disfrutar de nuestros productos!</p>
        <span class="copy">Copyright 2023 || By Neta Beauty</span>
    </footer>
</body>
</html>