<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Assistant&family=Eczar&family=Martian+Mono:wght@100&family=Mulish:wght@300&family=Quicksand:wght@300&family=Roboto:wght@100&family=Satisfy&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Assistant&family=Eczar&family=Martian+Mono:wght@100&family=Montserrat:wght@200;400&family=Mulish:wght@300&family=Quicksand:wght@300&family=Roboto:wght@100&family=Satisfy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/styles/styles.css">

    <title>By Neta</title>
</head>
<body>

        <header class="header">
            <nav class="nav">
                <ul>
                    <li>Autobronceado</li>
                    <li>Accesorios</li>
                    <li class="logo"><img src="./imgs/byneta_logo_black_800x.avif" alt="logo"></li>
                    <li>Brumas & Gloss</li>
                    <li>Manual de uso</li>
                </ul>
            </nav> 
        </header>

        <section class="index_1">
            <div class="index_gloss">
                    <div class="index_gloss_1">
                    <h1>I'M OBSESSED - Juicy Lip Oil</h1>
                    <p>Aceite labial nutritivo</p>
                    <button>COMPRAR</button>
                    </div>
                <img src="../../static/assets/imgs/glosslip2.jpg" alt="">
            </div>
        </section>
        <div class="divider"></div>
        <section> 
        </section>
        <div class="divider"></div>
        <section class="best_seller">
            <h4>BEST SELLER</h4>
            <div class="container">
                <a class="photo" href="https://www.instagram.com/byneta_beauty/">
                    <img src="../../static/assets/imgs/self_tanning_1440x.webp" alt="">
                </a>
                </a>
                <a class="photo" href="https://www.instagram.com/byneta_beauty/">
                    <img src="../../static/assets/imgs/3-Mist_Tanning_Oil_copy_1440x.webp" alt="">
                </a>
                <a class="photo" href="https://www.instagram.com/byneta_beauty/">
                    <img src="../../static/assets/imgs/1-Face_Body_Makeup_1440x.webp" alt="">
                </a>
            </div>
        </section>
        <section class="utilizacion">
            <div class="container_util1">
                <img src="../../static/assets/imgs/Artboard_15_1_1440x.webp" alt="">
                <div class="container_util">
                    <h2>¿CÓMO UTILIZAR?</h2>
                    <p> Te mostramos la mejor manera de utilizar nuestros productos</p>
                    <button>VER</button>
                </div>
            </div>
        </section>
        <div class="divider"></div>
        <section class="follow_us">
            <h5>SIGUENOS   <a href="https://www.instagram.com/byneta_beauty/">@byneta_beauty</a></h5>
            <a href="https://www.instagram.com/byneta_beauty/"><img src="./imgs/collagefollow.jpg" alt=""></a>
        </section>

        <div class="divider"></div>
        
        <footer class="footer">
            <div class="container_svg">
            <img src="./imgs/estrella.png" alt="">
            </div>
            <h5>ACCEDE A TU CUENTA PARA COMPRAR </h5>
            <p>¡Registrese ahora y empiece a disfrutar de nuestros productos!</p>
            <span class="copy">Copyright 2023 || By Neta Beauty</span>
        </footer> 


</body>
</html>