{% extends 'store.html' %}
{% block titulo_tienda %}
<h1>B r o n c e a d o r e s</h1>
{% endblock titulo_tienda %}
    


{% comment %} MUESTRA MI PRODUCTO {% endcomment %}
{% block content %}
<section class="productos_autob">
    {% for producto in productos %}
    <div class="producto">
        <form method="POST" action="{% url 'agregar_al_carrito' producto.id %}" class="form_producto" enctype="multipart/form-data">
            {% csrf_token %}
            <img src="{{producto.imagen.url}}" alt="Producto">
           <h3>{{ producto.nombre }}</h3>
           <span>$ {{ producto.precio }}</span>
           <button type="submit">COMPRAR</button>
        <a href="{% url 'detalle_producto' producto.id  %}">Ver detalle</a>
    </form>
 </div>
 {% endfor %}
 </section>


{% comment %} FORMULARIO PARA AGREGAR PRODUCTO {% endcomment %}
{% if  request.user.is_superuser %}

<section class="crear-accesorio">
   <h3> AGREGAR PRODUCTO</h3>
<form action="{% url 'agregar_producto' %}" method="POST" enctype="multipart/form-data">
   {% csrf_token %}
   {{form.media}}
   {{ form.as_p }}
   <button type="submit" class="btn btn-primary">Guardar Producto</button>
</form>
</section> 
{% endif %}

{% endblock %}



{% block img_collage %}
<img src="../../static/tienda/assets/imgs/BeFunky-collage20.jpg" alt="">
{% endblock img_collage %}
    
