<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Assistant&family=Eczar&family=Martian+Mono:wght@100&family=Mulish:wght@300&family=Quicksand:wght@300&family=Roboto:wght@100&family=Satisfy&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Assistant&family=Eczar&family=Martian+Mono:wght@100&family=Montserrat:wght@200;400&family=Mulish:wght@300&family=Quicksand:wght@300&family=Roboto:wght@100&family=Satisfy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./styles/styles.css">

    <title>By Neta</title>
</head>
<body>

        <header class="header">
            <nav class="nav">
                <ul>
                    <li>Autobronceado</li>
                    <li>Accesorios</li>
                    <li class="logo"><img src="../../static/assets/imgs/byneta_logo_black_800x.avif" alt="logo"></li>
                    <li>Brumas & Gloss</li>
                    <li>Manual de uso</li>
                </ul>
            </nav>
        </header>
        <h1>B r u m a s & G l o s s</h1>
        <section class="productos">
            <div class="producto">
                <img src="../../static/assets/imgs/bruma1.webp" alt="Producto 1">
                <h3>PARTY IN IBIZA NIGHT MIST</h3>
                <p>Un spray de noche para cuerpo piel y cabello con una fragancia femenina y adictiva inspirada en las fiestas más rutilantes de las últimas vacaciones en Ibiza. La refinada fórmula nutre la piel y el cabello con humedad, no mancha la ropa y mantiene la sensualidad de la fragancia durante toda la noche.</p>
                <span>$20.00</span>
                <button>COMPRAR</button>
            </div>
            <div class="producto">
                <img src="../../static/assets/imgs/bruma2.webp" alt="Producto 2">
                <h3>MORNING IN LA DAY MIST</h3>
                <p>Un spray de día para la piel del cuerpo y el cabello con una fragancia fresca y adictiva inspirada en las fragancias de las boutiques de Los Ángeles. La fórmula refinada nutre la piel y el cabello con humedad, no mancha la ropa y mantiene la fragancia fresca durante todo el día </p>
                <span>$20.00</span>
                <button>COMPRAR</button>
            </div>
            <div class="producto">
                <img src="../../static/assets/imgs/brumacombo.webp" alt="Producto 3">
                <h3>Morning in L.A + Party in Ibiza</h3>
                <p>El combo que necesitabas para lucir siempre con fragancias para todo tipo de ocación. Dejando una estela de aroma a tu paso, siempre luciendo fragancias en tu piel para sentirte refrescante y espléndida.</p>
                <span>$20.00</span>
                <button>COMPRAR</button>
            </div>

            <div class="producto">
                <img src="../../static/assets/imgs/glosslipproduct.webp" alt="Producto 5">
                <h3>I'M OBSESSED Juicy Lip Oil</h3>
                <p>El aceite labial nutre una apariencia carnosa, jugosa y brillante. Una mezcla de aceites de lujo que nutren tus labios, brindándoles una hidratación profunda y calmante para una apariencia jugosa y brillante con cada reutilización.</p>
                <span>$20.00</span>
                <button>COMPRAR</button>
            </div>
        </section>
        <section class="container_collage">
            <img src="../../static/assets/imgs/BeFunky-collage19.jpg" alt="">
        </section>

        <footer class="footer">
            <div class="container_svg">
            <img src="../../static/assets/imgs/estrella.png" alt="">
            </div>
            <h5>ACCEDE A TU CUENTA PARA COMPRAR </h5>
            <p>¡Registrese ahora y empiece a disfrutar de nuestros productos!</p>
            <span class="copy">Copyright 2023 || By Neta Beauty</span>
        </footer>

</body>
</html>