* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// LOGUIN************************************************************

.header_loguin {
    width: 100%;
    height: 200px;



    .nav {

        width: 100%;
        position: fixed;
        background-color: #ffffff7a;

        ul {
            display: flex;
            align-items: center;
            list-style: none;
            justify-content: center;
            padding: 0;
            margin: 0;

            a{text-decoration: none;
                color: #000;
            padding-left: 20px;}



            li {
                font-size: 2em;
                margin: 0 30px;
                font-family: 'Montserrat', sans-serif;
                font-size: 1em;

                a{text-decoration: none;
                color: #000;}


                
            }
            .logo img {
                width: 300px;
            }
        }
    }

}

// FOOTER*********************************


.footer {

    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.164);
    padding-top: 30px;
    display: flex;
    flex-direction: column;
  
  
    .container_svg {
        width: 3%;
        margin: 80px auto 30px auto;
  
        img {
            width: 100%;
  
        }
    }
  
    .footer_h5 {
        color: #B33E24;
        font-family: 'Montserrat', sans-serif;
        font-size: 2em;
        font-weight: 900;
        margin-bottom: 30px;
        text-decoration: none;
  
  
    }
  
    a {
        font-family: 'Montserrat', sans-serif;
        font-size: 1em;
        font-weight: 600;
        margin-bottom: 100px;
  
        text-decoration: none;
        color: #000;
    }
  
    span {
        font-family: 'Montserrat', sans-serif;
        font-size: 0.8em;
  
  
  
    }
  }

.formulario {
    width: 100%;


    .div_formulario {
        width: 50%;
        margin: auto;

        h1 {
            color: #000;
            font-size: 2em;
            font-family: 'Montserrat', sans-serif;
        }


        form {
            margin: 50px auto;
            display: flex;
            flex-direction: column;
            list-style: none;


            a {
                font-family: 'Montserrat', sans-serif;
                font-size: 1em;
                color: #000;
                font-weight: 800;
                margin: 20px auto;
            }


            button {
                border: 1px solid #000;
                padding: 10px 50px;
                font-family: 'Montserrat', sans-serif;
                font-size: 1em;
                color: #000;
                background-color: transparent;
                border-radius: 20px;
                width: 100%;
                margin: 30px auto;


                &:hover {
                    background-color: black;
                    transition-duration: 0.8s;
                    color: #fff;
                }
            }


            input {
                margin: 10px auto;
                font-family: 'Montserrat', sans-serif;
                font-size: 0.8em;
                padding-left: 10px;
                list-style: none;
                border: 1px solid #000;
                width: 100%;
                height: 40px;

            }


            label {
                font-family: 'Montserrat', sans-serif;
                font-size: 0.8em;
                color: #000;
                font-weight: 400;
                list-style: none;
                margin: auto;

            }
        }
    }
}




// FORMULARIO REGISTRO***************************************************

.header_form {
    width: 100%;
    background-size: cover;
    height: 300px;



    .nav {
        width: 100%;
        position: fixed;
        background-color: #ffffff7a;

        ul {
            display: flex;
            align-items: center;
            list-style: none;
            justify-content: center;
            padding: 0;
            margin: 0;



            li {
                font-size: 2em;
                margin: 0 30px;
                font-family: 'Montserrat', sans-serif;
                font-size: 1em;


            }

            .logo img {
                width: 300px;
            }
        }
    }

}

// PERFIL***************************************************

.mi_perfil{

margin: auto;
    width: 70%;
    display: flex;
    flex-direction: column;

    .titulo{
        display: flex;
        justify-content: space-between;
        align-items: center;


        h1{ color: #000;
            margin: 0;
        font-size: 4em;
        font-family: 'Montserrat', sans-serif;

    }
    a {  align-items: center;
        justify-content: right;
        padding: 10px 50px;
        font-family: 'Montserrat', sans-serif;
        font-size: 1em;
        font-weight: 600;
        color: #000;
        margin: 30px 0px;
}

    }


    .button {
        padding: 10px 50px;
        font-family: 'Montserrat', sans-serif;
        font-size: 1em;
        color: #fff;
        background-color: #000;
        border-radius: 20px;
        width: 20%;
        margin: 30px auto;
        text-decoration: none;

    }

    .container_perfil{
    margin:50px auto;
    width: 100%;


.hr{margin-top: 10px ;
border-color: #000;}
h2{color: #000;
    margin: 0;
    margin-top: 30px;
font-size: 1.8em;
font-family: 'Montserrat', sans-serif;}

p{ font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
    color: #000;
    font-weight: 800;
    margin: 20px auto;

    
    img{width: 200px;}
}
span{font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    color: #000;}
    }



}

.header_perfil {
    width: 100%;
    height: 200px;


    .nav {

        width: 100%;
        position: fixed;
        background-color: #ffffff7a;

        ul {
            display: flex;
            align-items: center;
            list-style: none;
            justify-content: center;
            padding: 0;
            margin: 0;

            a{text-decoration: none;
                color: #000;
            padding-left: 20px;}



            li {
                font-size: 2em;
                margin: 0 30px;
                font-family: 'Montserrat', sans-serif;
                font-size: 1em;

                a{text-decoration: none;
                color: #000;}


                
            }
            .logo img {
                width: 300px;
            }
        }
    }

}
.detalle_producto{
width: 40%;
margin: -90px auto 30px auto;
background-color: #F6F5FA;

// form{width: 90%;
// margin: auto;
// border: 1px solid blue;
// justify-content: center;
// align-items: center;
// text-align: center;

// img{width: 400px;
// }}
.producto {
    padding: 10px;
    text-align: center;
    width: 80%;
    margin: 20px auto;

    .form_producto {
      button {
        width: 100%;
        background-color: transparent;
        border: 1px solid black;
        padding: 10px;
        border-radius: 20px;
        color: black;
        font-family: "Montserrat", sans-serif;
        font-size: 1em;
        font-weight: 900;
        margin-top: 10px;
        margin-bottom: 30px;

        &:hover {
          background-color: black;
          transition-duration: 0.8s;
          color: #fff;
        }
      }

      h3 {
        font-family: "Montserrat", sans-serif;
        font-size: 1.5em;
        margin-top: 10px;
      }

      p {
        font-family: "Montserrat", sans-serif;
        font-size: 0.9em;
        margin: 10px 0 10px 0;
      }

      span {
        font-family: "Montserrat", sans-serif;
        font-size: 1.3em;
      }

      img {
        max-width: 400px;
      }

      a {color: #000;
        font-family: "Montserrat", sans-serif;
        font-size: 1.3em;}

    }
  }
}

