* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header_loguin {
  width: 100%;
  height: 200px;
}
.header_loguin .nav {
  width: 100%;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.4784313725);
}
.header_loguin .nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.header_loguin .nav ul a {
  text-decoration: none;
  color: #000;
  padding-left: 20px;
}
.header_loguin .nav ul li {
  font-size: 2em;
  margin: 0 30px;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
}
.header_loguin .nav ul li a {
  text-decoration: none;
  color: #000;
}
.header_loguin .nav ul .logo img {
  width: 300px;
}

.footer {
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(128, 128, 128, 0.164);
  padding-top: 30px;
  display: flex;
  flex-direction: column;
}
.footer .container_svg {
  width: 3%;
  margin: 80px auto 30px auto;
}
.footer .container_svg img {
  width: 100%;
}
.footer .footer_h5 {
  color: #B33E24;
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  font-weight: 900;
  margin-bottom: 30px;
  text-decoration: none;
}
.footer a {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 100px;
  text-decoration: none;
  color: #000;
}
.footer span {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8em;
}

.formulario {
  width: 100%;
}
.formulario .div_formulario {
  width: 50%;
  margin: auto;
}
.formulario .div_formulario h1 {
  color: #000;
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
}
.formulario .div_formulario form {
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  list-style: none;
}
.formulario .div_formulario form a {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  color: #000;
  font-weight: 800;
  margin: 20px auto;
}
.formulario .div_formulario form button {
  border: 1px solid #000;
  padding: 10px 50px;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  color: #000;
  background-color: transparent;
  border-radius: 20px;
  width: 100%;
  margin: 30px auto;
}
.formulario .div_formulario form button:hover {
  background-color: black;
  transition-duration: 0.8s;
  color: #fff;
}
.formulario .div_formulario form input {
  margin: 10px auto;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8em;
  padding-left: 10px;
  list-style: none;
  border: 1px solid #000;
  width: 100%;
  height: 40px;
}
.formulario .div_formulario form label {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8em;
  color: #000;
  font-weight: 400;
  list-style: none;
  margin: auto;
}

.header_form {
  width: 100%;
  background-size: cover;
  height: 300px;
}
.header_form .nav {
  width: 100%;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.4784313725);
}
.header_form .nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.header_form .nav ul li {
  font-size: 2em;
  margin: 0 30px;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
}
.header_form .nav ul .logo img {
  width: 300px;
}

.mi_perfil {
  margin: auto;
  width: 70%;
  display: flex;
  flex-direction: column;
}
.mi_perfil .titulo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mi_perfil .titulo h1 {
  color: #000;
  margin: 0;
  font-size: 4em;
  font-family: "Montserrat", sans-serif;
}
.mi_perfil .titulo a {
  align-items: center;
  justify-content: right;
  padding: 10px 50px;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: 600;
  color: #000;
  margin: 30px 0px;
}
.mi_perfil .button {
  padding: 10px 50px;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  color: #fff;
  background-color: #000;
  border-radius: 20px;
  width: 20%;
  margin: 30px auto;
  text-decoration: none;
}
.mi_perfil .container_perfil {
  margin: 50px auto;
  width: 100%;
}
.mi_perfil .container_perfil .hr {
  margin-top: 10px;
  border-color: #000;
}
.mi_perfil .container_perfil h2 {
  color: #000;
  margin: 0;
  margin-top: 30px;
  font-size: 1.8em;
  font-family: "Montserrat", sans-serif;
}
.mi_perfil .container_perfil p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1em;
  color: #000;
  font-weight: 800;
  margin: 20px auto;
}
.mi_perfil .container_perfil p img {
  width: 200px;
}
.mi_perfil .container_perfil span {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3em;
  color: #000;
}

.header_perfil {
  width: 100%;
  height: 200px;
}
.header_perfil .nav {
  width: 100%;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.4784313725);
}
.header_perfil .nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.header_perfil .nav ul a {
  text-decoration: none;
  color: #000;
  padding-left: 20px;
}
.header_perfil .nav ul li {
  font-size: 2em;
  margin: 0 30px;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
}
.header_perfil .nav ul li a {
  text-decoration: none;
  color: #000;
}
.header_perfil .nav ul .logo img {
  width: 300px;
}

.detalle_producto {
  width: 40%;
  margin: -90px auto 30px auto;
  background-color: #F6F5FA;
}
.detalle_producto .producto {
  padding: 10px;
  text-align: center;
  width: 80%;
  margin: 20px auto;
}
.detalle_producto .producto .form_producto button {
  width: 100%;
  background-color: transparent;
  border: 1px solid black;
  padding: 10px;
  border-radius: 20px;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: 900;
  margin-top: 10px;
  margin-bottom: 30px;
}
.detalle_producto .producto .form_producto button:hover {
  background-color: black;
  transition-duration: 0.8s;
  color: #fff;
}
.detalle_producto .producto .form_producto h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  margin-top: 10px;
}
.detalle_producto .producto .form_producto p {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9em;
  margin: 10px 0 10px 0;
}
.detalle_producto .producto .form_producto span {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3em;
}
.detalle_producto .producto .form_producto img {
  max-width: 400px;
}
.detalle_producto .producto .form_producto a {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 1.3em;
}

/*# sourceMappingURL=styles.css.map */
