{% extends 'template.html' %}
 {% block contenido %}

<section class="about_me">
  <div class="container_aboutme">
    <div class="container_imagen">
      <img
        src="../../static/inicio/assets/imgs/image_2023_07_26_10_12_09_566.jpeg"
      />
    </div>
    <div class="container_escrito">
      <h1>Detrás de BY NETA</h1>
      <h2>Neta Alchimister</h2>
      <p>
        Modelo y empresaria. Los principios fueron en el mundo del modelaje que
        inspiraron a la cofundación de la compañia de bikinis BNANHOT con Noa
        Beny. Se sumó a la marca una colección activewear de ropa deportiva con
        diseños exclusivos de la marca, caracterizada al igual que los trajes de
        baño por la extremada callidad de las telas y fabricación.<br />
        A finales de 2022 se fundó para sumar a las marcas una línea de
        productos de belleza y bronceado natural BY NETA que no daña la piel y
        logra un aspecto de bronceado de playa todo el año.
      </p>
      <br />
      <p>La marca se destaca por:</p>
      <ul>
        <li><p>Tiene un aroma fresco y playero distinguible.</p></li>
        <li>
          <p>
            Los productos no cubren la piel, sino que se basan en su tono de
            piel natural. Como si estuvieras naturalmente bronceado por el sol.
          </p>
        </li>
        <li>
          <p>Son fáciles de aplicar y también dan un efecto natural.</p>
        </li>
        <li>
          <p>
            No dañan químicamente la piel y ofrecen una alternativa a la
            exponsición solar y rayos UV.
          </p>
        </li>
        <li>
          <p>
            De aplicación rápida y fácil, da un color dorado sin vetas que dura
            al menos una semana.
          </p>
        </li>
        <li>
          <p>
            Las brumas no irritan la piel y tienen una larga duración del aroma.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="redes">
  <div class="container_redes">
    <a href="https://byneta.com/"
      ><img
        src="../../static/inicio/assets/imgs/byneta_logo_800x.avif"
        alt="red"
        target="_blank"
    /></a>
    <a href="https://bananhotbikinis.com/"
      ><img
        src="../../static/inicio/assets/imgs/Web_Logo_White_300x300.webp"
        alt="red"
        target="_blank"
    /></a>
  </div>
</section>

<section class="neta">
  <div class="img_neta">
    <img
      src="../../static/inicio/assets/imgs/1211998-_192_9bb866a9-25f5-4826-8fa4-106357020a14_700x.jpg"
      alt=""
    />
    <img
      src="../../static/inicio/assets/imgs/1211998-_45_d0ef24ba-e66c-4936-b7cc-dcb2bc007edc_700x@2x.jpg"
      alt=""
    />
    <img src="../../static/inicio/assets/imgs/1211998-_217_700x.jpg" alt="" />
    <img
      src="../../static/inicio/assets/imgs/1211998-_28_f203608b-c2a7-4886-a337-310aa5747c83_700x@2x.jpg"
      alt=""
    />
  </div>
</section>

{% endblock contenido %} 